#adopt-note .jumbotron {
    height: 75vh;
    background-color: rgb(247, 235, 216);
}

#content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#adopt-box {
    display: flex;
    justify-content: center;
}

.page-title {
    display: flex;
    justify-content: center;
}

.adopt-button {
    margin-top: 10%;
    width: 320px;
}

@media screen and (max-width: 414px) {
    #adopt-note .jumbotron {
        height: 120vh;
        background-color: rgb(247, 235, 216);
    }
}
