#adopt .jumbotron {
    background-color: rgb(247, 235, 216);
    font-family: 'Shippori Antique', sans-serif;
}

#content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#adopt-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-col {
    display: flex;
    justify-content: center;
    margin: 2%;
}

#data-col-right {
    margin-left: 20px;
    font-size: 1.3em;
}

#data-col-event {
    margin: 5px;
}

.click-date {
    width: 408px;
    height: 36px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid rgb(223, 176, 100);
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 1em;
}

.text-box-spread {
    width: 198px;
}

#cat-data {
    display: flex;
    justify-content: center;
    align-items: end;
}

.cat-name {
    margin-top: 10px;
    font-size: 2.5em;
    font-family: 'Gluten', 'Shippori Antique', sans-serif;
}

#image-box {
    display: flex;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background-color: #474747;
    color: #ffffff;
}

#cat-image-main {
    margin: 10px;
    width: 200px;
    border: 5px solid #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
}

#user-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

#adopt-button {
    width: 320px;
}

#old-event {
    display: flex;
    flex-direction: column-reverse;
    width: 400px;
}

#new-logo {
    padding: 7px;
    border-radius: 20px;
    background-color: rgb(231, 159, 43);
    color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);
}

#old-logo {
    padding: 7px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(231, 159, 43);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.fa-arrow-up {
    margin: 5px;
    margin-left: 6px;
    font-size: 1.3em;
    color: #474747;
}

#data-apply {
    width: 408px;
}

@media screen and (max-width: 540px) {
    #adopt-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #cat-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #image-box {
        display: flex;
        margin-left: 0px;
    }

    #user-data {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .data-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2%;
    }

    #data-col-right {
        margin-left: 0px;
        margin-top: 10px;
        width: 315px;
        font-size: 1em;
    }

    #data-col-event {
        margin: 0px;
        font-size: 0.9em;
    }

    #old-event {
        display: flex;
        flex-direction: column-reverse;
        width: 300px;
    }

    .text-box {
        margin: 5px;
        width: 300px;
    }

    .click-date {
        margin: 5px;
        width: 300px;
    }

    #data-apply {
        width: 310px;
    }

    #warning-box {
        font-size: 0.8em;
    }
}
