#adopt .jumbotron {
    background-color: rgb(216, 240, 247);
    font-family: 'Shippori Antique', sans-serif;
}

#content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#adopt-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-col {
    margin: 1%;
}

.data-col-spread {
    display: flex;
}

#data-col-radio {
    display: flex;
    justify-content: start;
    width: 410px;
}

#data-col-left {
    width: 40%;
}

#data-col-right {
    margin-left: 10px;
}

.text-box-spread {
    width: 198px;
}

.text-box-profile {
    width: 408px;
}

#cat-data {
    display: flex;
    justify-content: center;
    align-items: end;
}

.cat-name {
    margin-top: 10px;
    font-size: 2.5em;
    font-family: 'Gluten', 'Shippori Antique', sans-serif;
}

#image-box {
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background-color: #474747;
    color: #ffffff;
}

#image-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2px;
}

#cat-image {
    border: 5px solid #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
}

#home-image {
    border: 5px solid #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
    width: 400px;
}

#user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    padding: 5%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

#apply-detail {
    display: flex;
}

#data-col-event {
    margin: 5px;
    font-size: 1.3em;
}

#old-event {
    display: flex;
    flex-direction: column-reverse;
    width: 400px;
}

#new-logo {
    padding: 7px;
    border-radius: 20px;
    background-color: rgb(43, 140, 231);
    color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);
}

#old-logo {
    padding: 7px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(43, 140, 231);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.fa-arrow-up {
    margin: 5px;
    margin-left: 6px;
    font-size: 1.3em;
    color: #474747;
}

#edit-box {
    margin-top: 5px;
}

#APPLY {
    width: 250px;
}

#Reject {
    width: 250px;
}

#Finish {
    width: 250px;
}

@media screen and (max-width: 540px) {
    #cat-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #image-box {
        display: flex;
        margin-left: 0px;
    }

    #user-data {
        display: flex;
        flex-direction: column;
    }

    #apply-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .data-col-spread {
        display: flex;
        flex-direction: column;
    }

    #data-col-radio {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 300px;
    }

    #data-col-left {
        width: 100%;
    }

    #data-col-right {
        margin-left: 0px;
    }

    .text-box {
        margin: 5px;
        width: 300px;
    }

    #old-event {
        display: flex;
        flex-direction: column-reverse;
        width: 300px;
    }

    #data-col-event {
        margin: 0px;
        font-size: 0.9em;
    }

    #edit-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
    }

    #APPLY {
        margin-bottom: 5px;
        width: 300px;
    }

    #Reject {
        margin-bottom: 5px;
        width: 300px;
    }

    #Finish {
        width: 300px;
    }

    #home-image {
        border: 5px solid #ffffff;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
        width: 300px;
    }
}
