#about-us .jumbotron {
    height: 80vh;
    background-color: rgb(216, 216, 216);
    font-family: 'Shippori Antique', sans-serif;
}

#content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-title {
    display: flex;
    justify-content: center;
}

#upper-part {
    display: flex;
}

.about-part {
    margin-top: 10px;
}

@media screen and (max-width: 414px) {
    #about-us .jumbotron {
        height: 120vh;
        background-color: rgb(216, 216, 216);
    }

    #about-logo {
        display: none;
    }


}
